pythonProject/ISO messages/sup_SecuritiesAccountCreationRequestV01_reda_018_001_0_20230322_1417.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2016. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Message name: reda.018.001.01
URL: https://www2.swift.com/mystandards/#/mx/reda.018.001.01
Generated by the MyStandards web platform [https://www.swift.com/mystandards] on 2023-03-22T14:17:37+00:00
ISO 20022 version : 2004
-->
<!---->
<xs:schema xmlns="SecuritiesAccountCreationRequestV01_reda.018.001.01/extension" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="SecuritiesAccountCreationRequestV01_reda.018.001.01/extension">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="AnyBICDec2014Identifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AnyBICDec2014Identifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362: 2014 - "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CashAccountIdentification5Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CashAccountIdentification5Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique identifier of an account, as assigned by the account servicer.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="IBAN" type="IBAN2007Identifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">IBAN</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">International Bank Account Number (IBAN) - identifier used internationally by financial institutions to uniquely identify the account of a customer. Further specifications of the format and content of the IBAN can be found in the standard ISO 13616 "Banking and related financial services - International Bank Account Number (IBAN)" version 1997-10-01, or later revisions.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Prtry" type="Max34Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique identifier for an account. It is assigned by the account servicer using a proprietary identification scheme.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CountryCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code to identify a country, a dependency, or another area of particular geopolitical interest, on the basis of country names obtained from the United Nations (ISO 3166, Alpha-2 code).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a currency, by a maintenance agency, under an international identification scheme as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds". Valid currency codes are registered with the ISO 4217 Maintenance Agency, and consist of three contiguous letters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="ExtensionMessage" type="ExtensionMessage"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ExtensionMessage">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ExtensionMessage</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="AcctDtls" type="NCSDSecuritiesAccountDetails">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountDetails</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification36__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification36__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification using a proprietary scheme.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary information, often a code, issued by the data source scheme issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Issr" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="NCSDPartyIdentifierTypeCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Short textual description of the scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification36__2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification36__2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification using a proprietary scheme.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary information, often a code, issued by the data source scheme issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Issr" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="NCSDPartyIdentifierTypeCode__2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Short textual description of the scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="IBAN2007Identifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">IBAN2007Identifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The International Bank Account Number is a code used internationally by financial institutions to uniquely identify the account of a customer at a financial institution as described in the 2007 edition of the ISO 13616 standard "Banking and related financial services - International Bank Account Number (IBAN)" and replaced by the more recent edition of the standard.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LEIIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">LEIIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Legal Entity Identifier is a code allocated to a party as described in ISO 17442 "Financial Services - Legal Entity Identifier (LEI)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max34Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max34Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 34 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max500Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max500Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 500 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="500"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max70Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 70characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NCSDAccountGroup">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NCSDAccountGroup</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the group to which the account belongs, e.g. default string ‘Allow’. &#13;
This functionality allows defining user access rules to only access certain account groups and thereby only have access to certain securities accounts.&#13;
The ‘Allow’ group is the only group available in the system as default, however, members can define more groups through NCSD Account maintenance GUI.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Own" type="GenericIdentification36__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Owner</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NCSDInterestedParty">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NCSDInterestedParty</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="IntPtyTp" type="NCSDInterestedPartyTypeCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Interested Party Type</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="NCSDPartyIdentification">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NCSDInterestedPartyTypeCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NCSDInterestedPartyTypeCode</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="REP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Representative</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MREC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MailReceiver</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="GRR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Guarantor</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EXTR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Executor</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ADM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Administrator</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="GDN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Guardian</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NCSDPartyIdentification">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NCSDPartyIdentification</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="BIC" type="AnyBICDec2014Identifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BIC</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="NIN" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NIN</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">National Identity Number</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LEI</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="InvId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Investor Id</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Investor identifier</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrId" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Other identifier</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Any other identifier and the issuer seperated by a forward slash</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NCSDPartyIdentification2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NCSDPartyIdentification2</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SchmeNm" type="NCSDPartyIdentifierTypeCode__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NCSDPartyIdentifierTypeCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NCSDPartyIdentifierTypeCode</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="PCODE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PCODE</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NCSDPartyIdentifierTypeCode__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NCSDPartyIdentifierTypeCode__1</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="NIN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NIN</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="GIIN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">GIIN</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OTR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BIC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BIC</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LEI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LEI</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NCSDPartyIdentifierTypeCode__2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NCSDPartyIdentifierTypeCode__2</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="IVID">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Investor Id</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NCSDPartyStatusCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NCSDPartyStatusCode</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Active</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SUSP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Suspended</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NCSDRevenueSSI">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NCSDRevenueSSI</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Curr" type="CurrencyCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Currencies</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Dflt" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Default</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Opr" type="AnyBICDec2014Identifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Operator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">BIC code of the bank where the bank account is held</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctNo" type="CashAccountIdentification5Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Account Id</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NCSDSecuritiesAccountDetails">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NCSDSecuritiesAccountDetails</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ActvnTp" type="NCSDPartyStatusCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Activation Type</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account name</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AltId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Alternate Id</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Available optional account identification</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="NmnOwn" type="NCSDPartyIdentification2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Nominee</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ActLbl" type="NCSDSecuritiesAccountLabel">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Account Label</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TxRs" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Tax Residence</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctGrp" type="NCSDAccountGroup">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Account Group</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Hldr" type="PartyIdentification136__2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Holder</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference to the investor that is holder of the securities account. The holder is referred to through its Investor ID</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlPrt" type="NCSDSettlementPriority">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Settlement Priority</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DfltOnHld" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Default On Hold</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="IsStlmtISONtf" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Is Settlement ISO Notification</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="IsCAISONtf" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Is Corporate Action ISO Notification</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="IsCCPISONtf" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Is Central Counterparty ISO Notification</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="IntPty" type="NCSDInterestedParty">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Interested Party</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="RevSSI" type="NCSDRevenueSSI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Revenue SSI</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Cmts" type="Max500Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Comments</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="LndPl" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Lending Pool</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates if the securities account is eligible for the lending pool for ISBL transactions</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NCSDSecuritiesAccountLabel">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NCSDSecuritiesAccountLabel</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CAFR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Corporate Action Fractions</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CRT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Certificates</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MBH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Murabaha</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DREC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Depository Receipt</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DRCC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Depository Receipt Custody</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ETF">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ETF</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MTF">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Mutual Fund</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DPM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DPM</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EIS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Employee Incentive Scheme</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NCSDSettlementPriority">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NCSDSettlementPriority</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="NOT_SET">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Not Set</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NORMAL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Normal</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HIGH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">High</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HIGHER">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Higher</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HIGHEST">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Highest</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PartyIdentification120Choice__2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification120Choice__2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between different formats for the identification of a party.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="PrtryId" type="GenericIdentification36__2">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ProprietaryIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier, as assigned to a financial institution using a proprietary identification scheme.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification136__2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification136__2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of the party.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification120Choice__2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of the party.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="YesNoIndicator">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">YesNoIndicator</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates a "Yes" or "No" type of answer for an element.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
